<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles/index.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Langar&family=Jura:wght@300&display=swap" rel="stylesheet">

<script src="scripts/index.js"></script>
</head>
<body>
<canvas></canvas>
<div class="overlay">
  <div class="title">
    <h1 style="margin-bottom: 0; letter-spacing: 2px;">Happy Holidays</h1>
    <h2 style="margin-top: 15px; letter-spacing: 2px;"><%= name %></h2>

    <h4 class="signature">- Robert</h4>
  </div>
</div>
</body>
</html>
