<html>
<head>
<link rel="stylesheet" href="/styles/index.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
<script src="/scripts/index.js"></script>
</head>
<body>
<canvas></canvas>
<div class="overlay">
  <div class="title">
    <h1>Happy Holidays</h1>
    <h2><%= name %></h2>
  </div>
</div>
</body>
</html>
